<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Thaw_Mix_Dashboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Thaw_Mix_Dashboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Thaw_Mix_Dashboard.Properties.Settings.dbANSRLTR_PRODConnectionString"
            connectionString="Data Source=ANSRLTR;Initial Catalog=dbANSRLTR_PROD;User ID=SuppSrvcsIT"
            providerName="System.Data.SqlClient" />
        <add name="Thaw_Mix_Dashboard.Properties.Settings.ContainerManagement_ODSConnectionString"
            connectionString="Data Source=ESP-ODS;Initial Catalog=ContainerManagement-ODS;User ID=SuppSrvcsIT"
            providerName="System.Data.SqlClient" />
        <add name="Thaw_Mix_Dashboard.Properties.Settings.SpecimenTracker_ConnectionString"
            connectionString="Data Source=SQLLIB01;Initial Catalog=SpecimenTracker;Persist Security Info=True;User ID=SpecimenTracker;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
    <applicationSettings>
        <Thaw_Mix_Dashboard.Properties.Settings>
            <setting name="LogOutTime" serializeAs="String">
                <value>120</value>
            </setting>
        </Thaw_Mix_Dashboard.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Thaw_Mix_Dashboard.Properties.Settings>
            <setting name="ApplicationID" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="DeptAccess" serializeAs="String">
                <value>218,232,240,245,236,255,243</value>
            </setting>
            <setting name="CheckedInTimeMinutes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CheckedInTimeHours" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="CheckedInSpecimenRefresh" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="ScannerLocation" serializeAs="String">
                <value>C:\ARUPSRC\chris-crofts-master@3e0293afad3\Thaw Mix Dashboard\bin\Debug</value>
            </setting>
            <setting name="ThawMixAppId" serializeAs="String">
                <value>11</value>
            </setting>
        </Thaw_Mix_Dashboard.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Sigil" publicKeyToken="2d06c3494341c8ab" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
